# Wishlist Service Environment Variables

# HTTP
PORT=3005
NODE_ENV=development

# Auth & Security
JWT_ACCESS_SECRET=your-jwt-access-secret
GATEWAY_SECRET=super-secret-gateway-key

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/wishlist

# API Gateway URL used for calling other services (e.g. product-service)
GATEWAY_URL=http://localhost:3000/api/v1
