# Upload Service Environment Variables

# HTTP
PORT=3006
NODE_ENV=development

# Auth & Security
JWT_ACCESS_SECRET=your-jwt-access-secret
GATEWAY_SECRET=super-secret-gateway-key

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/upload

# MinIO configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioaccesskey
MINIO_SECRET_KEY=miniosecretkey
MINIO_BUCKET_NAME=ecommerce-uploads
